<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
    rel="stylesheet"
/>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="bg-[#2b2b2b]">
<%  if(nav === true ){ %>
    <div class="w-full px-10 py-3 flex justify-between items-center bg-[#2b2b2b] text-white border-b border-zinc-700 items-center">
        <h3 class="text-xl font-semibold">Pinterest</h3>
        <div class="flex gap-10 items-center">
            <a href="/" class="hover:text-zinc-300 transition-colors">Profile</a>
            <a href="#" class="hover:text-zinc-300 transition-colors">Feed</a>
            <a class="px-4 py-2 bg-red-600 hover:bg-red-700 text-white rounded-full text-sm font-semibold transition-all" href="/logout">Logout</a>
        </div>
    </div>

<% } %>
    