<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#2b2b2b]">
<%  if(nav === true ){ %>
    <div class="w-full h-screen">
        <div class="w-full h-[10%] flex items-center justify-between px-10 bg-[#2b2b2b]">
            <h3 class="logo font-semibold text-white text-2xl">Pinterest</h3>
            <div class="links flex items-center gap-7 text-white text-xl">
                <a class="ri-home-7-line hover:text-blue-400" href="/feed" title="Home/Feed"></a>
                <a class="ri-add-box-line hover:text-blue-400" href="/add" title="Add Post"></a>
                <a class="ri-user-3-line hover:text-blue-400" href="/profile" title="Profile"></a>
                <a class="ri-search-2-line hover:text-blue-400" href="/search" title="Search"></a>
                <a href="/logout" class="bg-red-500 px-3 py-1 rounded hover:bg-red-600">Logout</a>
            </div>
        </div>
<% } %>
